@charset "UTF-8";

.img-lanche img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    body {
        text-align: center;
    }

    .prato-adicionado {
        box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.3);
        border: 1px solid #ccc;
        border-radius: 8px;
    }

    .img-lanche img {
        width: 63%;
        margin: 0 auto;
        margin-top: 10px;
    }

    .texto-prato {
        margin-top: 13px;
    }

    .prato-carrinho {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        width: 350px;
        margin: 0 auto;
    }

    .lixo {
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .preco-total {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .preco-total h2 {
        margin-left: 0;
    }

    .preco-total div {
        margin-top: 10px;
    }

    .preco-em-baixo {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        border-top: 1px solid #BDBEBF;
        border-bottom: 1px solid #BDBEBF;
    }

    .btn-block {
        width: 100%;
        margin-top: 10px;
    }

    .quantidade {
        margin: 0 8px;
    }
}