:root {
    /* Definindo variáveis de cor para uso no tema */
    --amarelo-pastel: #F2EA7E; /* Amarelo pastel */
    --laranja-claro: #F27405; /* Laranja claro */
    --laranja-forte: #F25C05; /* Laranja forte */
    --branco: #F2F2F2; /* Branco */
    --preto: #0D0D0D; /* Preto */
}

* {
    margin: 0; /* Remove margens de todos os elementos */
    padding: 0; /* Remove preenchimentos de todos os elementos */
    box-sizing: border-box; /* Inclui bordas e preenchimentos na largura e altura totais dos elementos */
}

body,
input {
    font-family: 'Montserrat', sans-serif; /* Define a fonte padrão para o corpo e inputs */
}

.container {
    position: relative; /* Define um contexto para posicionamento absoluto de elementos filhos */
    width: 100%; /* Define a largura da container como 100% */
    background-color: #fff; /* Define a cor de fundo como branca */
    min-height: 100vh; /* Define a altura mínima como 100% da altura da viewport */
    overflow: hidden; /* Oculta conteúdo que ultrapassa a área da container */
}

.forms-container {
    position: absolute; /* Permite que o formulário se posicione em relação ao contêiner pai */
    width: 100%; /* Largura total da container */
    height: 100%; /* Altura total da container */
    top: 0; /* Alinha ao topo do contêiner */
    left: 0; /* Alinha à esquerda do contêiner */
}

.signin-signup {
    position: absolute; /* Permite que a seção de login/registro se posicione em relação ao contêiner pai */
    top: 50%; /* Posiciona verticalmente no meio */
    transform: translate(-50%, -50%); /* Centraliza horizontal e verticalmente */
    left: 75%; /* Alinha à esquerda a 75% da largura do contêiner */
    width: 50%; /* Define a largura como 50% da container */
    transition: 1s 0.7s ease-in-out; /* Adiciona uma transição suave para as mudanças */
    display: grid; /* Define um grid para layout interno */
    grid-template-columns: 1fr; /* Uma coluna no grid */
    z-index: 5; /* Coloca a seção acima de outros elementos */
}

form {
    display: flex; /* Define um layout flexível para o formulário */
    align-items: center; /* Centraliza verticalmente os itens do formulário */
    justify-content: center; /* Centraliza horizontalmente os itens do formulário */
    flex-direction: column; /* Organiza os itens na direção da coluna */
    padding: 0rem 5rem; /* Define o preenchimento lateral do formulário */
    transition: all 0.2s 0.7s; /* Transição suave para todas as propriedades após 0.7s */
    overflow: hidden; /* Oculta conteúdo que ultrapassa a área do formulário */
    grid-column: 1 / 2; /* Define a coluna do grid para o formulário */
    grid-row: 1 / 2; /* Define a linha do grid para o formulário */
}

form.sign-up-form {
    opacity: 0; /* Torna o formulário de registro invisível inicialmente */
    z-index: 1; /* Coloca abaixo do formulário de login */
}

form.sign-in-form {
    z-index: 2; /* Coloca acima do formulário de registro */
}

.title {
    font-size: 2.2rem; /* Define o tamanho da fonte do título */
    color: #444; /* Define a cor do título */
    margin-bottom: 10px; /* Margem inferior do título */
}

.input-field {
    max-width: 380px; /* Largura máxima do campo de input */
    width: 100%; /* Largura total do campo de input */
    background-color: #f0f0f0; /* Cor de fundo do campo de input */
    margin: 10px 0; /* Margens superior e inferior do campo de input */
    height: 55px; /* Altura do campo de input */
    border-radius: 55px; /* Bordas arredondadas */
    display: grid; /* Define um grid para o campo de input */
    grid-template-columns: 15% 85%; /* Define a proporção das colunas do grid */
    padding: 0 0.4rem; /* Preenchimento lateral do campo de input */
    position: relative; /* Define um contexto para elementos filhos posicionados absolutamente */
}

.input-field i {
    text-align: center; /* Centraliza o texto do ícone */
    line-height: 55px; /* Define a altura da linha do ícone */
    color: #acacac; /* Cor do ícone */
    transition: 0.5s; /* Transição suave para alterações */
    font-size: 1.1rem; /* Tamanho da fonte do ícone */
}

.input-field input {
    background: none; /* Remove o fundo do campo de input */
    outline: none; /* Remove o contorno ao focar */
    border: none; /* Remove a borda */
    line-height: 1; /* Define a altura da linha do texto */
    font-weight: 600; /* Define o peso da fonte */
    font-size: 1.1rem; /* Tamanho da fonte do input */
    color: #333; /* Cor do texto do input */
}

.input-field input::placeholder {
    color: #aaa; /* Cor do texto do placeholder */
    font-weight: 500; /* Peso da fonte do placeholder */
}

.social-text {
    padding: 0.7rem 0; /* Preenchimento superior e inferior do texto social */
    font-size: 1rem; /* Tamanho da fonte do texto social */
}

.social-media {
    display: flex; /* Define um layout flexível para ícones sociais */
    justify-content: center; /* Centraliza os ícones sociais */
}

.social-icon {
    height: 46px; /* Altura dos ícones sociais */
    width: 46px; /* Largura dos ícones sociais */
    display: flex; /* Define um layout flexível para os ícones sociais */
    justify-content: center; /* Centraliza o conteúdo do ícone */
    align-items: center; /* Centraliza verticalmente o conteúdo do ícone */
    margin: 0 0.45rem; /* Margens laterais dos ícones sociais */
    color: #333; /* Cor dos ícones sociais */
    border-radius: 50%; /* Arredonda os ícones sociais */
    border: 1px solid #333; /* Borda dos ícones sociais */
    text-decoration: none; /* Remove sublinhado dos links */
    font-size: 1.1rem; /* Tamanho da fonte dos ícones sociais */
    transition: 0.3s; /* Transição suave para alterações */
}

.social-icon:hover {
    color: #f27405a8; /* Altera a cor ao passar o mouse */
    border-color: var(--laranja-claro); /* Altera a cor da borda ao passar o mouse */
}

.btn {
    width: 150px; /* Largura do botão */
    background-color: var(--laranja-claro); /* Cor de fundo do botão */
    border: none; /* Remove a borda do botão */
    outline: none; /* Remove o contorno ao focar */
    height: 49px; /* Altura do botão */
    border-radius: 49px; /* Bordas arredondadas do botão */
    color: #fff; /* Cor do texto do botão */
    text-transform: uppercase; /* Transforma o texto para maiúsculas */
    font-weight: 600; /* Define o peso da fonte do botão */
    margin: 10px 0; /* Margens superior e inferior do botão */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: 0.5s; /* Transição suave para alterações */
}

.btn:hover {
    background-color: var(--laranja-forte); /* Altera a cor ao passar o mouse */
}

.panels-container {
    position: absolute; /* Permite que os painéis se posicionem em relação ao contêiner pai */
    height: 100%; /* Altura total da container */
    width: 100%; /* Largura total da container */
    top: 0; /* Alinha ao topo do contêiner */
    left: 0; /* Alinha à esquerda do contêiner */
    display: grid; /* Define um grid para os painéis */
    grid-template-columns: repeat(2, 1fr); /* Duas colunas no grid */
}

.container:before {
    content: ""; /* Adiciona um pseudo-elemento vazio antes da container */
    position: absolute; /* Permite que o pseudo-elemento se posicione em relação ao contêiner pai */
    height: 2000px; /* Altura do pseudo-elemento */
    width: 2000px; /* Largura do pseudo-elemento */
    top: -10%; /* Alinha ao topo, com um deslocamento */
    right: 48%; /* Alinha à direita, com um deslocamento */
    transform: translateY(-50%); /* Centraliza verticalmente o pseudo-elemento */
    background-image: linear-gradient(-45deg, var(--laranja-claro) 0%, #f274057e 100%); /* Define um gradiente de fundo */
    transition: 1.8s ease-in-out; /* Transição suave para alterações */
    border-radius: 50%; /* Arredonda o pseudo-elemento */
    z-index: 6; /* Coloca o pseudo-elemento acima de outros elementos */
}

.image {
    width: 100%; /* Largura total da imagem */
    transition: transform 1.1s ease-in-out; /* Transição suave para transformações */
    transition-delay: 0.4s; /* Atraso na transição */
}

.panel {
    display: flex; /* Define um layout flexível para o painel */
    flex-direction: column; /* Organiza os itens na direção da coluna */
    align-items: flex-end; /* Alinha os itens à direita */
    justify-content: space-around; /* Espaça os itens uniformemente */
    text-align: center; /* Centraliza o texto dentro do painel */
    z-index: 6; /* Coloca o painel acima de outros elementos */
}

.left-panel {
    pointer-events: all; /* Permite interação com o painel esquerdo */
    padding: 3rem 17% 2rem 12%; /* Define o preenchimento do painel esquerdo */
}

.right-panel {
    pointer-events: none; /* Desabilita a interação com o painel direito */
    padding: 3rem 12% 2rem 17%; /* Define o preenchimento do painel direito */
}

.panel .content {
    color: #fff; /* Cor do texto no painel */
    transition: transform 0.9s ease-in-out; /* Transição suave para transformações */
    transition-delay: 0.6s; /* Atraso na transição */
}

.panel h3 {
    font-weight: 600; /* Define o peso da fonte do título do painel */
    line-height: 1; /* Define a altura da linha do título do painel */
    font-size: 1.5rem; /* Tamanho da fonte do título do painel */
}

.panel p {
    font-size: 0.95rem; /* Tamanho da fonte do parágrafo no painel */
    padding: 0.7rem 0; /* Preenchimento superior e inferior do parágrafo */
}

.btn.transparent {
    margin: 0; /* Remove margens do botão transparente */
    background: none; /* Remove o fundo do botão */
    border: 2px solid #fff; /* Define uma borda branca */
    width: 130px; /* Largura do botão transparente */
    height: 41px; /* Altura do botão transparente */
    font-weight: 600; /* Define o peso da fonte do botão */
    font-size: 0.8rem; /* Tamanho da fonte do botão */
}

.right-panel .image,
.right-panel .content {
    transform: translateX(800px); /* Move a imagem e o conteúdo do painel direito para a direita */
}

/* ANIMATION */

.container.sign-up-mode:before {
    transform: translate(100%, -50%); /* Move o pseudo-elemento ao ativar o modo de registro */
    right: 52%; /* Ajusta a posição à direita */
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
    transform: translateX(-800px); /* Move a imagem e o conteúdo do painel esquerdo para a esquerda */
}

.container.sign-up-mode .signin-signup {
    left: 25%; /* Ajusta a posição da seção de login/registro no modo de registro */
}

.container.sign-up-mode form.sign-up-form {
    opacity: 1; /* Torna o formulário de registro visível */
    z-index: 2; /* Coloca acima do formulário de login */
}

.container.sign-up-mode form.sign-in-form {
    opacity: 0; /* Torna o formulário de login invisível */
    z-index: 1; /* Coloca abaixo do formulário de registro */
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
    transform: translateX(0%); /* Move a imagem e o conteúdo do painel direito para a posição original */
}

.container.sign-up-mode .left-panel {
    pointer-events: none; /* Desabilita a interação com o painel esquerdo no modo de registro */
}

.container.sign-up-mode .right-panel {
    pointer-events: all; /* Permite interação com o painel direito no modo de registro */
}

.alert {
    padding: 1rem 1.25rem; /* Preenchimento do alerta */
    margin-bottom: 1rem; /* Margem inferior do alerta */
    border: 1px solid transparent; /* Borda padrão do alerta */
    border-radius: 0.25rem; /* Bordas arredondadas do alerta */
    position: relative; /* Define um contexto para elementos filhos posicionados absolutamente */
}

.alert-danger {
    color: #842029; /* Cor do texto para alertas de erro */
    background-color: #f8d7da; /* Cor de fundo para alertas de erro */
    border-color: #f5c2c7; /* Cor da borda para alertas de erro */
}

.alert-danger .text-center {
    text-align: center; /* Centraliza o texto no alerta de erro */
}

.alert-danger strong {
    font-weight: bold; /* Deixa o texto forte em negrito */
}


@media (max-width: 870px) {
    .container {
        min-height: 800px; /* Define a altura mínima do contêiner para telas pequenas */
        height: 100vh; /* Define a altura como 100% da altura da viewport */
    }

    .signin-signup {
        width: 100%; /* Largura total da seção de login/registro */
        top: 95%; /* Posiciona a seção próximo à parte inferior */
        transform: translate(-50%, -100%); /* Centraliza horizontalmente e desloca verticalmente */
        transition: 1s 0.8s ease-in-out; /* Transição suave para alterações */
    }

    .signin-signup,
    .container.sign-up-mode .signin-signup {
        left: 50%; /* Centraliza a seção */
    }

    .panels-container {
        grid-template-columns: 1fr; /* Uma coluna no grid para telas pequenas */
        grid-template-rows: 1fr 2fr 1fr; /* Define as linhas do grid */
    }

    .panel {
        flex-direction: row; /* Alinha os itens em linha no painel */
        justify-content: space-around; /* Espaça os itens uniformemente */
        align-items: center; /* Centraliza os itens verticalmente */
        padding: 2.5rem 8%; /* Define o preenchimento do painel */
        grid-column: 1 / 2; /* Define a coluna do grid para o painel */
    }

    .right-panel {
        grid-row: 3 / 4; /* Posiciona o painel direito na linha 3 */
    }

    .left-panel {
        grid-row: 1 / 2; /* Posiciona o painel esquerdo na linha 1 */
    }

    .image {
        width: 200px; /* Largura da imagem em telas pequenas */
        transition: transform 0.9s ease-in-out; /* Transição suave para transformações */
        transition-delay: 0.6s; /* Atraso na transição */
    }

    .panel .content {
        padding-right: 15%; /* Preenchimento à direita do conteúdo do painel */
        transition: transform 0.9s ease-in-out; /* Transição suave para transformações */
        transition-delay: 0.8s; /* Atraso na transição */
    }

    .panel h3 {
        font-size: 1.2rem; /* Tamanho da fonte do título em telas pequenas */
    }

    .panel p {
        font-size: 0.7rem; /* Tamanho da fonte do parágrafo em telas pequenas */
        padding: 0.5rem 0; /* Preenchimento superior e inferior do parágrafo */
    }

    .btn.transparent {
        width: 110px; /* Largura do botão transparente em telas pequenas */
        height: 35px; /* Altura do botão transparente em telas pequenas */
        font-size: 0.7rem; /* Tamanho da fonte do botão transparente em telas pequenas */
    }

    .container:before {
        width: 1500px; /* Largura do pseudo-elemento em telas pequenas */
        height: 1500px; /* Altura do pseudo-elemento em telas pequenas */
        transform: translateX(-50%); /* Centraliza horizontalmente o pseudo-elemento */
        left: 30%; /* Ajusta a posição à esquerda do pseudo-elemento */
        bottom: 68%; /* Ajusta a posição na parte inferior */
        right: initial; /* Remove a posição à direita */
        top: initial; /* Remove a posição superior */
        transition: 2s ease-in-out; /* Transição suave para alterações */
    }

    .container.sign-up-mode:before {
        transform: translate(-50%, 100%); /* Move o pseudo-elemento no modo de registro */
        bottom: 32%; /* Ajusta a posição na parte inferior no modo de registro */
        right: initial; /* Remove a posição à direita */
    }

    .container.sign-up-mode .left-panel .image,
    .container.sign-up-mode .left-panel .content {
        transform: translateY(-300px); /* Move a imagem e o conteúdo do painel esquerdo para cima no modo de registro */
    }

    .container.sign-up-mode .right-panel .image,
    .container.sign-up-mode .right-panel .content {
        transform: translateY(0px); /* Move a imagem e o conteúdo do painel direito para a posição original no modo de registro */
    }

    .right-panel .image,
    .right-panel .content {
        transform: translateY(300px); /* Move a imagem e o conteúdo do painel direito para baixo */
    }

    .container.sign-up-mode .signin-signup {
        top: 5%; /* Ajusta a posição da seção de login/registro no modo de registro */
        transform: translate(-50%, 0); /* Centraliza horizontalmente */
    }
}

@media (max-width: 570px) {
    form {
        padding: 0 1.5rem; /* Define o preenchimento do formulário */
    }

    .image {
        display: none; /* Esconde a imagem em telas muito pequenas */
    }

    .panel .content {
        padding: 0.5rem 1rem; /* Define o preenchimento do conteúdo do painel */
    }

    .container {
        padding: 1.5rem; /* Preenchimento do contêiner */
    }

    .container:before {
        bottom: 72%; /* Ajusta a posição do pseudo-elemento */
        left: 50%; /* Centraliza horizontalmente o pseudo-elemento */
    }

    .container.sign-up-mode:before {
        bottom: 28%; /* Ajusta a posição do pseudo-elemento no modo de registro */
        left: 50%; /* Centraliza horizontalmente o pseudo-elemento */
    }
}
