<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- ICONS BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- LINK CSS -->
    <link rel="stylesheet" href="/css/index.css">
    <!-- LINK FAVICON -->
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <!-- LINK FONTS -->
    <link
        href="https://fonts.googleapis.com/css2?family=Righteous&family=Pacifico&family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@400;500;700&display=swap"
        rel="stylesheet">

    <title>Hamburgueria | Index</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">
                    <img src="/img/logo.png" alt="Logo da Hamburgueria">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#topoSite">Início</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#sobre">Sobre</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="topoSite"></div>
    </header>
    

    <main>
        <div class="container">
            <div class="row py-xl-5 my-xl-5 py-3 my-3 topo-site d-flex">
                <div class="col-xl-6 txt-col">
                    <div class="txt-topo">
                        <h1>Burger - 24 Horas: Hambúrgueres Deliciosos a Qualquer Hora</h1>
                        <p>Bem-vindo ao Burger - 24 Horas! Nossa missão é simples: oferecer hambúrgueres saborosos,
                            frescos e preparados com ingredientes de alta qualidade a qualquer hora do dia ou da noite.
                            Aqui, você nunca precisa se preocupar com o horário para matar a fome — estamos prontos para
                            servir você 24 horas, todos os dias! Seja para aquele lanche rápido, um almoço suculento ou
                            até para saciar a fome da madrugada, nosso cardápio é pensado para satisfazer os amantes de
                            hambúrgueres a qualquer momento. Venha nos conhecer e descubra um lugar onde o sabor não
                            dorme!</p>
                        <form action="PratosCardapio" method="post">
                            <a th:href= "@{/cardapio}" class="btn btn-custom">
                                <button type="submit" style="all: unset;">Faça seu Pedido!</button>
                            </a>
                        </form>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="hamburger-img d-flex align-items-center justify-content-center">
                        <img src="/img/hamburguer-topo.webp" alt="">
                    </div>
                </div>   
            </div>
            <div id="sobre"></div>
        </div>
        <div class="bg-laranja">
            
            <div class="container">
                <div class="txt-sobre">
                    <h1>Sobre a Burger - 24 Horas</h1>
                    <p>
                        Na <strong>Burger - 24 Horas</strong>, acreditamos que um hambúrguer é muito mais do que apenas
                        uma refeição: é uma experiência que deve ser desfrutada a qualquer momento do dia. Fundada por
                        apaixonados por gastronomia, nossa hamburgueria tem como objetivo trazer um pedacinho do sabor
                        autêntico e caseiro para você, onde quer que esteja.
                    </p>
                    <p>
                        Nosso cardápio é uma celebração de sabores, oferecendo uma ampla variedade de hambúrgueres que
                        atendem a todos os paladares. Desde os clássicos cheeseburgers até opções gourmet com
                        ingredientes especiais, cada lanche é preparado na hora, com carnes frescas, pães artesanais e
                        acompanhamentos selecionados para proporcionar uma explosão de sabores em cada mordida.
                    </p>
                    <p>
                        Além dos nossos hambúrgueres irresistíveis, temos também uma seleção de opções vegetarianas e
                        veganas, garantindo que todos possam se deliciar com nossos pratos. E para acompanhar sua
                        refeição, oferecemos uma variedade de molhos exclusivos, batatas fritas crocantes e bebidas
                        refrescantes.
                    </p>
                    <p>
                        A conveniência é a nossa prioridade. Estamos abertos 24 horas por dia, 7 dias por semana, para
                        garantir que você tenha acesso ao melhor sabor a qualquer hora. Seja após uma noite de festa,
                        durante uma maratona de estudos ou simplesmente quando a fome apertar, nossa equipe está sempre
                        pronta para atendê-lo com agilidade e simpatia.
                    </p>
                    <p>
                        Na <strong>Burger - 24 Horas</strong>, valorizamos não apenas a qualidade dos nossos produtos,
                        mas também a experiência dos nossos clientes. Por isso, estamos constantemente buscando
                        inovações e feedbacks para aprimorar nossos serviços e cardápio. Venha nos visitar e descubra o
                        verdadeiro sabor de um hambúrguer preparado com amor e dedicação. Estamos ansiosos para
                        servi-lo!
                    </p>
                </div>
            </div>
        </div>
    </main>

    <footer class="py-3">
        <div class="container">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item">
                    <a class="nav-link" href="#topoSite">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre">Sobre</a>
                </li>
            </ul>
            <p class="text-center nav-link">© 2024 Burger - 24 Horas, Inc</p>
        </div>
    </footer>

    <!-- JS BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>